<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/product">
            <figure class="product-box_image">
                <img src="<%=product[1].imagen%>" alt="<%=product[1].nombreDelProducto%>">
            </figure>
            <article class="product-box_data">
                <h2><%=product[1].nombreDelProducto%></h2>
                <p><%=product[1].descripcion%></p>
                <p>Comentarios: 12</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/product">
            <figure class="product-box_image">
                <img src="<%=product[2].imagen%>" alt="<%=product[2].nombreDelProducto%>">
            </figure>
            <article class="product-box_data">
                <h2><%=product[2].nombreDelProducto%></h2>
                <p><%=product[2].descripcion%></p>
                <p>Comentarios: 12</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/product">
            <figure class="product-box_image">
                <img src="<%=product[3].imagen%>" alt="<%=product[3].nombreDelProducto%>">
            </figure>
            <article class="product-box_data">
                <h2><%=product[3].nombreDelProducto%></h2>
                <p><%=product[3].descripcion%></p>
                <p>Comentarios: 12</p>
            </article>
        </a>
    </section>
</div>
<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/product">
            <figure class="product-box_image">
                <img src="<%=product[4].imagen%>" alt="<%=product[4].nombreDelProducto%>">
            </figure>
            <article class="product-box_data">
                <h2><%=product[4].nombreDelProducto%></h2>
                <p><%=product[4].descripcion%></p>
                <p>Comentarios: 12</p>
            </article>
        </a>
    </section>
</div>