<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-  include('./partials/head')%>

<body>
	<!-- Header -->
	<%-  include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<h2 class="col-12"> 
				<form action="users/add" method="post">
					<label for="imagen">Imagen:</label><br>
					<input type="text" id="imagen" name="imagen" value='<%=product.imagen%>'required><br>

					<label for="nombre">Producto:</label><br>
					<input type="text" id="nombre" name="nombre" value='<%=product.nombre%>'  required><br>

					<label for="descripcion">Descripción:</label><br>
					<input type="text" id="descripcion" name="descripcion" value='<%=product.descripcion%>' required><br>

					<button type="submit">Editar producto</button>
                    <input type="hidden" name="id_usuario" value="<%= product.id %>">
                    </div>
				</form>
			</h2>
		</div>
	</div>

	<% if(locals.errors && errors.imagen){%>
		<p><%= errors.imagen.msg %></p>
	<% } %> 
	<% if(locals.errors && errors.product){%>
		<p><%= errors.product.msg %></p>
	<% } %> 
	<% if(locals.errors && errors.descripcion){%>
		<p><%= errors.descripcion.msg %></p>
	<% } %> 

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>