<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-  include('./partials/head')%>

<body>
	<!-- Header -->
	<%-  include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/profile" method="get">
					<label for="email">Email:</label><br>
					<input type="email" id="email" name="email" value="" required><br>

					<label for="password">Contraseña:</label><br>
					<input type="password" id="password" name="password" value="" required><br>

					<label for="recordarme">Recordarme:</label><br>
					<input type="checkbox" id="recordarme" name="recordarme" value=""><br>

					<button type="submit">Login</button> 
				</form>
			</h2>
		</div>
	</div>

	<% if(locals.errors && errors.email){%>
		<p><%= errors.email.msg %></p>
	<% } %> 
	<% if(locals.errors && errors.password){%>
		<p><%= errors.password.msg %></p>
	<% } %> 

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>