<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-  include('./partials/head')%>
<body>
	<!-- Header -->
	<%-  include('./partials/header')%>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product[3].nombreDelProducto %></h2> 
			<p class="product-detail-description">
				<a href="add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=product[3].imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= product[3].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < comments.length; i++) {%>
							<article>
								<img src="<%=comments[i].user.fotoPerfil%>" alt="foto de perfil del usuario que comentó">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"><%=comments[i].user.username%>: </a> </strong>
								 	<%=comments[i].comentario%></p>
								</div>
							</article>
						<% } %>
					</section>
					<form class="form" action="/product" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>