<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-  include('./partials/head')%>
<body>
	<!-- Header -->
	<%-  include('./partials/header')%>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product[3].nombreDelProducto %></h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=product[3].imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= product[3].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="<%=product[3].comentarios[0].imagenDePerfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html"><%=product[3].comentarios[0].nombreDeUsuario%>: </a> </strong>
								 <%=product[3].comentarios[0].textoDelComentario%></p>
							</div>
						</article>
						<article>
							<img src="<%=product[3].comentarios[1].imagenDePerfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html"><%=product[3].comentarios[1].nombreDeUsuario%>: </a> </strong>
								 <%=product[3].comentarios[1].textoDelComentario%></p>
							</div>
						</article>
						<article>
							<img src="<%=product[3].comentarios[2].imagenDePerfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html"><%=product[3].comentarios[2].nombreDeUsuario%>: </a> </strong>
								 <%=product[3].comentarios[2].textoDelComentario%></p>
							</div>
						</article>

					</section>
					<form class="form" action="/product" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>