<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-  include('./partials/head')%>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %> 
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre %></h2> 
			<p class="product-detail-description">
				<% if (locals.user && locals.user.id == product.id_usuarios) { %>
					<form class="form" action="/editProduct/<%= product.id %>" method="get" >
						<button type="submit" name="editar" id="editar">Editar</button>
					</form>
				<% } %>
			</p>
			<p class="product-detail-description">
				<% if (locals.user && locals.user.id == product.id_usuarios) { %>
					<form class="form" action="/product/delete" method="post">
						<input type="hidden" name="id" value="<%= product.id %>">
						<button type="submit" name="borrar" id="borrar">Borrar</button>
					</form>
				<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.descripcion %></p>
						<% if (product.usuario) { %>
							<h2>Usuario que cargó el producto: <a href="profile"> <%= product.usuario.username%> </a></h2>
						<% } else { %>
							<h2>Usted cargo este producto.</h2>
						<% } %>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (comments!=undefined && comments.length > 0) { %>
							<% for (let i = 0; i < comments.length; i++) {%>
								<article>
									<img src="<%=comments[i].usuario.foto%>" alt="foto de perfil del usuario que comentó">
									<div class="data">
										<p class="user">
										<strong> <a href="/users/profile/<%=comments[i].usuario.id%>"><%=comments[i].usuario.username%>: </a> </strong>
								 		<%=comments[i].comentario%></p>
									</div>
								</article>
							<% } %>
						<% } else { %>
							<p>No hay comentarios para este producto aún.</p>
						<% } %>
					</section>
					<% if (locals.user != undefined) { %> 
						<form class="form" action="/product/<%= product.id %>" method="post">
							<input class="form-input" type="text" id="comentario" name="comentario" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<% if(locals.errors && errors.comentario){%>
							<p><%= errors.comentario.msg %></p>
						<% } %> 
					<% } else { %>
						<p>Para comentar, debes estar estar logueado.</p>
						<form class="form" action="/users/login" method="post">
							<button type="submit" class="buy-now-button">Login</button>
						</form>
					<% } %>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<% if(locals.errors && errors.edit){%>
		<p><%= errors.edit.msg %></p>
	<% } %>  
	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>