<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-  include('./partials/head')%>

<body>
    <!-- Header -->
    <%- include('./partials/headerLogueado') %>
    <!-- /Header -->

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Editar mi perfil</h2>
                <form action="/users/edit" method="post">
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" value="<%= (locals.old && locals.old.email !== undefined) ? locals.old.email : (user && user.email) %>"><br>
                    <% if (locals.errors && locals.errors.email) { %>
                        <p class="error-msg"><%= locals.errors.email.msg %></p><br>
                    <% } %>
                    
                    <label for="user">Usuario:</label><br>
                    <input type="text" id="user" name="user" value="<%= (locals.old && locals.old.user !== undefined) ? locals.old.user : (user && user.username) %>"><br>
                    <% if (locals.errors && locals.errors.user) { %>
                        <p class="error-msg"><%= locals.errors.user.msg %></p><br>
                    <% } %>
            
                    <label for="password">Contraseña:</label><br>
                    <input type="password" id="password" name="password"><br>
                    <% if (locals.errors && locals.errors.password) { %>
                        <p class="error-msg"><%= locals.errors.password.msg %></p><br>
                    <% } %>
            
                    <label for="nacimiento">Fecha de nacimiento:</label><br>
                    <input type="date" id="nacimiento" name="nacimiento" value="<%= (locals.old && locals.old.nacimiento !== undefined) ? locals.old.nacimiento : (user && user.fecha) %>"><br>
                    <% if (locals.errors && locals.errors.nacimiento) { %>
                        <p class="error-msg"><%= locals.errors.nacimiento.msg %></p><br>
                    <% } %>
            
                    <label for="dni">DNI:</label><br>
                    <input type="number" id="dni" name="dni" value="<%= (locals.old && locals.old.dni !== undefined) ? locals.old.dni : (user && user.dni) %>"><br>
                    <% if (locals.errors && locals.errors.dni) { %>
                        <p class="error-msg"><%= locals.errors.dni.msg %></p><br>
                    <% } %>
            
                    <label for="profile">Foto de perfil:</label><br>
                    <input type="text" id="profile" name="profile" value="<%= (locals.old && locals.old.profile !== undefined) ? locals.old.profile : (user && user.foto) %>" ><br>
                    <% if (locals.errors && locals.errors.profile) { %>
                        <p class="error-msg"><%= locals.errors.profile.msg %></p><br>
                    <% } %>
            
                    <input type="submit" value="Guardar cambios"><br>
                </form>
            </div>          
            <!-- Show the "ultimos" products -->
        </div>
    </div>
        
    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- /footer -->
</body>

</html>