<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-  include('./partials/head')%>

<body>
	<!-- Header -->
	<%-  include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/register" method="post">
				<label for="email">Email:</label><br>
				<input type="email" id="email" name="email" value="" required><br>
				
				<label for="user">Usuario:</label><br>
				<input type="text" id="user" name="user" value="" required><br>

				<label for="password">Contraseña:</label><br>
				<input type="password" id="password" name="password" value="" required><br>

				<label for="nacimiento">Fecha de nacimiento:</label><br>
				<input type="date" id="nacimiento" name="nacimiento" value=""><br>

				<label for="dni">DNI:</label><br>
				<input type="number" id="dni" name="dni" value=""><br>

				<label for="profile">Foto de perfil (URL):</label><br>
				<input type="text" id="profile" name="profile" value=""><br>

				<button type="submit">Registrarse</button> 
			</form>
		</div>
	</div>
	<% if(locals.errors && errors.email){ %>
		<p><%= errors.email.msg %></p>
	<% } %>
	<% if(locals.errors && errors.password){ %>
		<p><%= errors.password.msg %></p>
	<% } %>
	<% if(locals.errors && errors.user){%>
		<p><%= errors.user.msg %></p>
	<%} %>
	<% if(locals.errors && errors.dni){%>
		<p><%= errors.dni.msg %></p>
	<%} %>
	<!-- falta agregar los que no hice en la ruta -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>